<p style="text-align: justify;"><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a> 这些任务都是在一天内诞生的，您不应该需要超过一天的时间来解决它们。所有这些任务都可以通过蛮力简单地解决，但这总是最好的方法吗？(你可能还不能完成所有这些任务，但随着地图上岛屿的增多，这些任务就会出现）。</i></p>
<p style="text-align: justify;">

    这是第四个任务，也是该系列的最后一个任务。但是如果在第一个任务中您需要找到重复的字母，那么在这个任务中您应该在子串中找到重复的序列。我给您举个例子：在字符串 "abababc "中 - "ab "是一个重复不止一次的序列，所以答案将是 "ababab"。
</p>
<p style="text-align: justify;">

   请注意，重要的是找到最长的重复序列，而不仅仅是重复次数最多的序列。也就是说，如果我们有一个类似 "aaaaaxyxyxy "的字符串，正确答案将是 "xyxy "而不是 "aaaaa"，因为 "xyxy "的长度是6，而 "aaaaa "的长度是5，尽管这两个模式分别重复了3次和5次。
</p>

<p>
   <strong>输入</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>输出：</strong>字符串<span>(str{% if is_js %}ing{% endif %})</span></p>.<p>
</p>



<div class="for_info_only">
    <p>
        <strong>举例说明：</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

