<p style="text-align: justify;"><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a> які народилися за один день, і вам не повинно знадобитися більше одного дня, щоб їх вирішити. Всі ці місії можна вирішити просто грубою силою, але чи завжди це найкращий спосіб? (Можливо, ви ще не маєте доступу до всіх цих місій, але вони стануть доступними, коли на карті з'явиться більше відкритих островів).</i></p>
<p style="text-align: justify;">

    Це четверта і остання місія серії. Але якщо в першій місії вам потрібно було знайти літери, що повторюються, то в цій вам потрібно знайти повторювану послідовність всередині підрядка. Наведу приклад: у рядку "abababc" - "ab" - це послідовність, яка повторюється більше одного разу, тому відповіддю буде "ababab"
</p>
<p style="text-align: justify;">

   Зверніть увагу, що важливо знайти найдовшу повторювану послідовність, а не просто ту, яка повторюється найбільшу кількість разів. Тобто, якщо у нас є рядок типу "aaaaaxyxyxy", правильною відповіддю буде "xyxyxy", а не "aaaaa", оскільки "xyxyxy" має довжину 6, а "aaaaa" - 5, хоча обидва шаблони повторюються 3 і 5 разів відповідно.
</p>

<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>Вихідні</strong> дані: Рядок <span>(str{% if is_js %}ing{% endif %})</span>.</p><p>
</p>



<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

