<p style="text-align: justify;"><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a> qui sont nées en une seule journée et qui ne devraient pas vous prendre plus d'une journée pour les résoudre. Toutes ces missions peuvent être résolues par la force brute, mais est-ce toujours la meilleure façon de procéder? (vous n'avez peut-être pas encore accès à toutes ces missions, mais elles seront disponibles avec l'ouverture d'un plus grand nombre d'îles sur la carte).</i></p>
<p style="text-align: justify;">

    Il s'agit de la quatrième et dernière mission de la série. Mais si, dans la première mission, vous deviez trouver des lettres qui se répètent, dans celle-ci, vous devez trouver une séquence qui se répète à l'intérieur de la sous-chaîne. J'ai un exemple pour vous: dans une chaîne "abababc" - "ab" est une séquence qui se répète plus d'une fois, la réponse sera donc "ababab"
</p>
<p style="text-align: justify;">

   Veuillez noter qu'il est important de trouver la séquence qui se répète le plus longtemps, et pas seulement celle qui se répète le plus de fois. En d'autres termes, si nous avons une chaîne comme "aaaaaxyxyxy", la bonne réponse sera "xyxyxy" au lieu de "aaaaa", car "xyxyxy" a une longueur de 6 alors que "aaaaa" a une longueur de 5, même si les deux motifs se répètent 3 et 5 fois, respectivement.
</p>

<p>
   <strong>Entrée:</strong> Chaîne <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>Sortie:</strong> Chaîne <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>



<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

