<p style="text-align: justify;"><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a> die alle an einem Tag entstanden sind und Sie sollten nicht mehr als einen Tag brauchen, um sie zu lösen. Alle diese Missionen können einfach mit brachialer Gewalt gelöst werden, aber ist das immer der beste Weg? (Sie haben vielleicht noch nicht Zugang zu all diesen Missionen, aber sie werden mit mehr geöffneten Inseln auf der Karte verfügbar sein).</i></p>

<p style="text-align: justify;">
    Es ist die vierte und letzte Mission der Serie. Aber wenn Sie in der ersten Mission sich wiederholende Buchstaben finden mussten, dann sollten Sie in dieser Mission eine sich wiederholende Sequenz innerhalb der Teilfolge finden. Ich habe ein Beispiel für Sie: in der Zeichenkette "abababc" - "ab" ist eine Sequenz, die sich mehr als einmal wiederholt, also wird die Antwort "ababab" sein
</p>

<p style="text-align: justify;">
   Bitte beachten Sie, dass es wichtig ist, die längste sich wiederholende Sequenz zu finden, nicht nur diejenige, die sich am häufigsten wiederholt. Das heißt, wenn wir eine Zeichenfolge wie "aaaaaxyxyxy" haben, wäre die richtige Antwort "xyxyxy" statt "aaaaa", da "xyxyxy" eine Länge von 6 hat, während "aaaaa" eine Länge von 5 hat, obwohl sich beide Muster 3 bzw. 5 Mal wiederholen.
</p>

<p>
   <strong>Eingabe:</strong> Zeichenkette <span>(str{% if is_js %}ing{% endif %})</span>.

<p>
   <strong>Ausgabe:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>



<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

