<p style="text-align: justify;"><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a> które narodziły się w ciągu jednego dnia, a ich rozwiązanie nie powinno zająć więcej niż jeden dzień. Wszystkie te misje można po prostu rozwiązać brutalną siłą, ale czy zawsze jest to najlepszy sposób? (być może nie mają Państwo jeszcze dostępu do wszystkich tych misji, ale będą one dostępne wraz z większą liczbą otwartych wysp na mapie).</i></p>
<p style="text-align: justify;">

    Jest to czwarta i ostatnia misja z serii. Ale jeśli w pierwszej misji trzeba było znaleźć powtarzające się litery, to w tej należy znaleźć powtarzającą się sekwencję wewnątrz podciągu. Mam dla Państwa przykład: w ciągu "abababc" - "ab" jest sekwencją, która powtarza się więcej niż raz, więc odpowiedzią będzie "ababab"
</p>
<p style="text-align: justify;">

   Proszę zauważyć, że ważne jest, aby znaleźć najdłuższą powtarzającą się sekwencję, a nie tylko tę, która powtarza się najwięcej razy. Oznacza to, że jeśli mamy ciąg typu "aaaaaxyxyxy", poprawną odpowiedzią będzie "xyxyxy" zamiast "aaaaa", ponieważ "xyxyxy" ma długość 6, podczas gdy "aaaaa" ma długość 5, mimo że oba wzory powtarzają się odpowiednio 3 i 5 razy.
</p>

<p>
   <strong>Wejście:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>Wyjści</strong> e <strong>:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>



<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

